/* comment in css */

.me {
  width: 30%;
  height: 30%;
}

/* ===body==== */
/* ====footer=== */
.head-wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.head-wrapper div {
  width: 33%;
  height: 200px;
  border: 2px solid red;
}

.header-nav li {
  display: inline-block;
  margin-right: 15%;
  list-style: none;
}
.header-nav li a {
  text-decoration: none;
}

table {
  width: 80%;
  margin: auto;
}

table,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
}

/* social media icons */
i {
  font-size: 30px;
}
.fa-github-square {
  color: #020b1a;
}
.fa-medium {
  color: red;
}
.fa-twitter {
  color: rebeccapurple;
}

.para {
  color: red;
}

.second-para {
  color: green;
  border: solid;
  weight: 10px;
  height: 20px;
}

a:link {
  color: red;
}
a:visited {
  color: blue;
}

a:hover {
  color: orange;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid;

  padding: 5px 15px;
}
